version: '2.1'
services:
  nginx-mailcow:
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=web"
      - "traefik.http.routers.mailcow.rule=Host(`{{ mailcow_domain }}`, `autodiscover.{{ domain }}`, `autoconfig.{{ domain }}`)"
      - "traefik.http.routers.mailcow.entrypoints=websecure"
      - "traefik.http.routers.mailcow.tls=true"
      - "traefik.http.routers.mailcow.tls.certresolver=myresolver"
      - "traefik.http.services.mailcow.loadbalancer.server.port=80"
    networks:
      - mailcow-network
      - web

networks:
  mailcow-network:
    driver: bridge
  web:
    external: true
