services:
  traefik:
    image: traefik:v2.11
    container_name: traefik
    restart: always
    command:
      - "--api.insecure=false"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email=${LE_EMAIL}"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
    ports:
      - "80:80"
      - "443:443"
    environment:
      - DOCKER_API_VERSION=1.41
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik/acme.json:/letsencrypt/acme.json"
    networks:
      - web

  db:
    image: postgres:15-alpine
    container_name: nextcloud_db
    restart: always
    environment:
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - ${NEXTCLOUD_DB_DIR}:/var/lib/postgresql/data
    networks:
      - nextcloud_net

  redis:
    image: redis:alpine
    container_name: nextcloud_redis
    restart: always
    command: redis-server --requirepass ${REDIS_PASSWORD}
    volumes:
      - ./redis:/data
    networks:
      - nextcloud_net

  app:
    image: nextcloud:33.0.3
    container_name: nextcloud_app
    restart: always
    extra_hosts:
      - "${DOMAIN}:host-gateway"
      - "office.asesoresti.site:host-gateway"
    depends_on:
      - db
      - redis
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - REDIS_HOST=redis
      - REDIS_HOST_PASSWORD=${REDIS_PASSWORD}
      - NEXTCLOUD_ADMIN_USER=${NEXTCLOUD_ADMIN_USER}
      - NEXTCLOUD_ADMIN_PASSWORD=${NEXTCLOUD_ADMIN_PASSWORD}
      - NEXTCLOUD_TRUSTED_DOMAINS=${DOMAIN} nextcloud_app
      - TRUSTED_PROXIES=10.0.0.0/8 172.16.0.0/12 192.168.0.0/16
      - OVERWRITEPROTOCOL=https
      - OVERWRITECLIURL=https://${DOMAIN}
      - OVERWRITEHOST=${DOMAIN}
    volumes:
      - ${NEXTCLOUD_DATA_DIR}:/var/www/html/data
      - ./nextcloud:/var/www/html
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=web"
      - "traefik.http.routers.nextcloud.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.nextcloud.entrypoints=websecure"
      - "traefik.http.routers.nextcloud.tls.certresolver=myresolver"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=80"
      - "traefik.http.routers.nextcloud.middlewares=nextcloud-dav,nextcloud-headers"
      - "traefik.http.middlewares.nextcloud-dav.redirectregex.regex=^https?://(.*)/.well-known/(card|cal)dav"
      - "traefik.http.middlewares.nextcloud-dav.redirectregex.replacement=https://$${1}/remote.php/dav/"
      - "traefik.http.middlewares.nextcloud-headers.headers.customFrameOptionsValue=SAMEORIGIN"
      - "traefik.http.middlewares.nextcloud-headers.headers.framedeny=true"
      - "traefik.http.middlewares.nextcloud-headers.headers.sslredirect=true"
      - "traefik.http.middlewares.nextcloud-headers.headers.stsSeconds=315360000"
      - "traefik.http.middlewares.nextcloud-headers.headers.stsIncludeSubdomains=true"
      - "traefik.http.middlewares.nextcloud-headers.headers.stsPreload=true"
    networks:
      - web
      - nextcloud_net

  cron:
    image: nextcloud:33.0.3
    container_name: nextcloud_cron
    restart: always
    depends_on:
      - db
      - redis
    volumes:
      - ${NEXTCLOUD_DATA_DIR}:/var/www/html/data
      - ./nextcloud:/var/www/html
    entrypoint: /cron.sh
    networks:
      - nextcloud_net

  onlyoffice:
    image: onlyoffice/documentserver:latest
    container_name: onlyoffice
    restart: always
    extra_hosts:
      - "${DOMAIN}:host-gateway"
      - "office.asesoresti.site:host-gateway"
    environment:
      - JWT_ENABLED=false
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=web"
      - "traefik.http.routers.onlyoffice.rule=Host(`office.asesoresti.site`)"
      - "traefik.http.routers.onlyoffice.entrypoints=websecure"
      - "traefik.http.routers.onlyoffice.tls.certresolver=myresolver"
      - "traefik.http.routers.onlyoffice.middlewares=onlyoffice-headers"
      - "traefik.http.middlewares.onlyoffice-headers.headers.customRequestHeaders.X-Forwarded-Proto=https"
      - "traefik.http.middlewares.onlyoffice-headers.headers.customResponseHeaders.Content-Security-Policy=upgrade-insecure-requests"
    networks:
      - web
      - nextcloud_net

  coturn:
    image: coturn/coturn:latest
    container_name: nextcloud_coturn
    restart: always
    command: >
      -n --log-file=stdout --external-ip=${SERVER_IP} 
      --min-port=49152 --max-port=65535 
      --realm=${DOMAIN} 
      --use-auth-secret --static-auth-secret=${TURN_SECRET}
    ports:
      - "3478:3478"
      - "3478:3478/udp"
    networks:
      - nextcloud_net

networks:
  web:
    external: true
  nextcloud_net:
    driver: bridge
